<div class="container">
<div class="row">
 <div class="col-sm-5">
   <%= form_for @community do |f| %>
 <div class="form_group">
    <%= label_tag :name %>
    <%= f.text_field :name, class: "form-control" %>
 </div>

<div class="form_group">
    <%= label_tag :url %>
    <%= f.text_field :url, class: "form-control" %>
</div>

<div class="form_group">
    <%= label_tag :bio %>
    <%= f.text_area :bio, class: "form-control" %>
</div>
</div>
</div>
</div>

<% end %>