<% if @is_subscribed %>
<%= link_to "Create New Post", new_community_post_path(@community), class: "btn btn-primary float-right" %>
<% else %>
<%= render partial: "communities/subscribe", locals: {community_id: @community.id} %>
<% end %>

<h3><%= @community.name %></h3><br>
<div class="row">
 <div class="col-sm-8">
 <%= render partial: "posts/list", locals: { posts: @posts } %>
 </div>
 <div class="col-sm-4">
 <div class="card p-3">
 <h4> About this community </h4>
  <p><%= simple_format @community.bio %></p>

 <small>
 <%= pluralize @subscriber_count, "member" %>
 </small> 
 </div>
 </div>
</div>
