<div class="container" >
  <div class="row">
    <div class="col-12 pt-3 pb-3 mb-5 border-bottom">
    <div class="float-right">
        <% if user_signed_in? %>

        <!-- Button Div's and links -->


        <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <%= current_user.full_name %>
      </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to "Profile", profile_path, class: "dropdown-item" %>
    <%= link_to "Settings", edit_account_registration_path, class: "dropdown-item" %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </ul>
</div>
         
        <% else %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
      <p class="h3"><%= link_to "Sweat It", root_path %></p>
    </div>
  </div>
</div>